<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="hanc-1.0">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <dependent-module archiveName="dsb-core-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/hanc-core/hanc-core">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="hanc"/>
        <property name="java-output-path" value="/hanc-system/target/classes"/>
    </wb-module>
</project-modules>
